{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>404 - Not Found</title>
  <link rel="stylesheet" href="{% static 'Admin/dist/css/404.css' %}">

</head>
<body>
  <main>
    <div class="container"><span class="material-symbols-outlined search">search</span>
      <h1 class="h1">404</h1>
      <h2>Not Found</h2>
    </div>
  </main>
</body>
<!-- partial -->
  <script src='https://unpkg.co/gsap@3/dist/gsap.min.js'></script>
  <script src="{% static 'Admin/dist/js/404.js' %}"></script>
</body>
</html>

