<!DOCTYPE html>
<html lang="en">
<head>
  <title>Face Recognition</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/Admin/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/Admin/dist/css/style.css">
  <script src="static/Admin/dist/js/jquery.slim.min.js"></script>
  <script src="static/Admin/dist/js/popper.min.js"></script>
  <script src="static/Admin/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  
<div class="container-fluid px-0 login">
  <div class="row h-100 mx-0">
   <div class="col-12">
     <div class="card shadow w-25">
		<div class = "card-body">
			<div class = "col-12 mb-3">
				<h4 class = "title font-weight-bold mb-0">Log In</h4>
			</div>
			<!--/.col-->
			<form method="post" action="{% url 'admin_index' %}">	
				{% csrf_token %}
				{% if success_message %}
                        <div class="alert alert-success" role="alert">
                             {{ success_message }}
                        </div>
                    {% endif %}
                    {% if messages %}
                        {% for message in messages %}
                             <div class="alert alert-primary" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
				<div class = "col-12 mb-3">
					<label>Phone</label>
					<input type = "tel" name="phone" class = "form-control" placeholder = "Enter Phone" required>
				</div>
				<!--/.col-->
				<div class = "col-12 mb-3">
					<label>Password</label>
					<input type = "password" name="password" class = "form-control" placeholder = "Enter Password" required>
				</div>
				<!--/.col-->
				<div class = "col-12 mb-3">										
					<label class="switch">
					  <input type="checkbox">
					  <span class="slider round"></span>
					</label>
					<small>Remember Me</small>
				</div>
				<!--/.col-->
				<div class = "col-12 mb-3">
					<button class = "btn btn-primary btn-sm shadow w-100" type="submit">Log In</button>
				</div>
				<!--/.col-->
				
				<div class = "col-12 text-center mb-3">
					<small>Or Log In with</small>
				</div>
				<!--/.col-->
				
				<div class = "col-12 d-flex text-center mb-3">
					<button class = "btn btn-light w-50 mr-2" type = "button"><img src = "static/Admin/dist//img/gmail.png" class = "img-fluid"></button>
					<button class = "btn btn-light w-50" type = "button"><img src = "static/Admin/dist//img/fb.png" class = "img-fluid"></button>
				</div>
				<!--/.col-->
				
				<div class = "col-12 text-center">
					<small>Don’t Have an account? <a class = "font-weight-bold" href = "{% url 'admin_signup' %}"><u>Sign Up</u></a></small>
				</div>
				<!--/.col-->
			</form>	
		</div>
	 </div>
   </div>
</div>
  <!--/.col-->
</div>
<!--/.container-fluid-->
</body>
</html>
