<!DOCTYPE html>
<html lang="en">
<head>
  <title>Face Recognition</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/Admin/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/Admin/dist/css/style.css">
  <link rel="stylesheet" href="static/Admin/dist/fontawesome/css/all.min.css">
  
</head>
<body>
	<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <!-- Button  -->
  
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand text-center">
        <a href="#">Welcome Back</a>
        <div id="close-sidebar"><i class="fa fa-times"></i></div>
      </div>
      <!-- sidebar-brand -->
      <div class="sidebar-header text-center">
        <div class="user-pic mb-3" style="color:#fff;">
          <img src = "static/Admin/dist/img/userpic.png" class = "img-fluid" style = "width:80px">
        </div>
        <div class="user-info">
          <span class="user-name"> <strong>Shreyash Kamble</strong></span>
          <span class="user-role" style = "color:#5eff5a;">Photographer</span>
        </div>
      </div>
      <!-- sidebar-header -->
     
      <div class="sidebar-menu">
        <ul>
          <li class="sidebar">
            <a href="{% url 'admin_home' %}"><i class="fa fa-home"></i><span>Home</span></a>
          </li>
          <li class="sidebar">
            <a href="{% url 'admin_dashboard' %}"><i class="fa fa-tachometer-alt"></i><span>Dashboard</span></a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
   <div class="sidebar-footer">
      <ul>
          <li class="sidebar">
            <a href="#"><i class="fa fa-cog"></i><span>Account Setting</span></a>
          </li>
		  <li class="sidebar">
            <a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i><span>Logout</span></a>
          </li>
        </ul>
    </div>
    <!-- sidebar-footer  -->
  </nav>
  <!-- sidebar-wrapper  -->
    
  <main class="page-content">
    <div class="container-fluid">
      <div class = "card shadow mb-3">
		<div class = "card-body">
			<div class = "row mt-4">
				<div class = "col-md-3 col-12">
					<div class = "card bg-danger small-box">
						<div class = "card-body py-2">
							<img src = "static/Admin/dist/img/User.png" class = "img-fluid">
							<h1 class = "font-weight-bold text-white mb-0">+91</h1>
							<div class = "row">
								<div class = "col-8">
									<p class = "text-white mb-0">Just Updated</p>
								</div>
								<!--/.col-->
								<div class = "col-4 text-right">
									<p class = "text-white mb-0">Clients</p>
								</div>
								<!--/.col-->
							</div>
							<!--/.row-->
						</div>
					</div>
				</div>
				<!--/.col-->
				<div class = "col-md-3 col-12">
					<div class = "card bg-primary-card small-box">
						<div class = "card-body py-2">
							<img src = "static/Admin/dist/img/Event.png" class = "img-fluid">
							<h1 class = "font-weight-bold text-white mb-0">+267</h1>
							<div class = "row">
								<div class = "col-8">
									<p class = "text-white mb-0"><span style = "color:#5eff5a">+3%</span> than last month</p>
								</div>
								<!--/.col-->
								<div class = "col-4 text-right">
									<p class = "text-white mb-0">Clients</p>
								</div>
								<!--/.col-->
							</div>
							<!--/.row-->
						</div>
					</div>
				</div>
				<!--/.col-->
				<div class = "col-md-3 col-12">
					<div class = "card bg-info-card small-box">
						<div class = "card-body py-2">
							<img src = "static/Admin/dist/img/Face.png" class = "img-fluid">
							<h1 class = "font-weight-bold text-white mb-0">+3254</h1>
							<div class = "row">
								<div class = "col-6">
									<p class = "text-white mb-0">Just Updated</p>
								</div>
								<!--/.col-->
								<div class = "col-6 text-right">
									<p class = "text-white mb-0">Face Scanned</p>
								</div>
								<!--/.col-->
							</div>
							<!--/.row-->
						</div>
					</div>
				</div>
				<!--/.col-->
				<div class = "col-md-3 col-12">
					<div class = "card bg-success small-box">
						<div class = "card-body py-2">
							<img src = "static/Admin/dist/img/Links.png" class = "img-fluid">
							<h1 class = "font-weight-bold text-white mb-0">+3321</h1>
							<div class = "row">
								<div class = "col-6">
									<p class = "text-white mb-0">Just Updated</p>
								</div>
								<!--/.col-->
								<div class = "col-6 text-right">
									<p class = "text-white mb-0">Links shared</p>
								</div>
								<!--/.col-->
							</div>
							<!--/.row-->
						</div>
					</div>
				</div>
				<!--/.col-->
			</div>
			<!--/.row-->
			
			<hr style = "border:2px solid #e5e5e5;">
			
			<div class = "row">
				<div class = "col-md-6 col-12 mb-3">
					<div class = "row client-graph py-3 mx-0">
						<div class = "col-md-8 col-12">
							<div class = "card">
								<div class = "card-body">
									<div id = "client"></div>
								</div>
							</div>
						</div>
						<!--/.col-->
						<div class = "col-md-4 col-12 text-right">
							<div class = "col-12 mb-5 pb-3">
								<p class = "text-danger font-weight-bold mb-0">Clients Added</p>
								<small>Last Campaign</small> <br>
								<small>Overview</small>
							</div>
							<!--/.col-->
							<div class = "col-12">
								<i class = "fa fa-angle-up fa-4x text-danger mb-0"></i>
								<h1 class = "font-weight-bold text-danger">+91</h1>
							</div>
							<!--/.col-->
						</div>
						<!--/.col-->
					</div>
					<!--/.row-->
				</div>
				<!--/.col-->
				<div class = "col-md-6 col-12 mb-3">
					<div class = "row event-graph py-3 mx-0">
						<div class = "col-md-8 col-12">
							<div class = "card">
								<div class = "card-body">
									<div id = "event"></div>
								</div>
							</div>
						</div>
						<!--/.col-->
						<div class = "col-md-4 col-12 text-right">
							<div class = "col-12 mb-5 pb-3">
								<p class = "text-event font-weight-bold mb-0">Events</p>
								<small>Last Campaign</small> <br>
								<small>Overview</small>
							</div>
							<!--/.col-->
							<div class = "col-12">
								<i class = "fa fa-angle-up fa-4x text-event mb-0"></i>
								<h1 class = "font-weight-bold text-event">+267</h1>
							</div>
							<!--/.col-->
						</div>
						<!--/.col-->
					</div>
					<!--/.row-->
				</div>
				<!--/.col-->
				<div class = "col-md-6 col-12">
					<div class = "row face-graph py-3 mx-0">
						<div class = "col-md-8 col-12">
							<div class = "card">
								<div class = "card-body">
									<div id = "face"></div>
								</div>
							</div>
						</div>
						<!--/.col-->
						<div class = "col-md-4 col-12 text-right">
							<div class = "col-12 mb-5 pb-3">
								<p class = "text-face font-weight-bold mb-0">Face Scanned</p>
								<small>Last Campaign</small> <br>
								<small>Overview</small>
							</div>
							<!--/.col-->
							<div class = "col-12">
								<i class = "fa fa-angle-up fa-4x text-face mb-0"></i>
								<h1 class = "font-weight-bold text-face">+3254</h1>
							</div>
							<!--/.col-->
						</div>
						<!--/.col-->
					</div>
					<!--/.row-->
				</div>
				<!--/.col-->
				<div class = "col-md-6 col-12">
					<div class = "row link-graph py-3 mx-0">
						<div class = "col-md-8 col-12">
							<div class = "card">
								<div class = "card-body">
									<div id = "link"></div>
								</div>
							</div>
						</div>
						<!--/.col-->
						<div class = "col-md-4 col-12 text-right">
							<div class = "col-12 mb-5 pb-3">
								<p class = "text-link font-weight-bold mb-0">Links shared</p>
								<small>Last Campaign</small> <br>
								<small>Overview</small>
							</div>
							<!--/.col-->
							<div class = "col-12">
								<i class = "fa fa-angle-up fa-4x text-link mb-0"></i>
								<h1 class = "font-weight-bold text-link">+3254</h1>
							</div>
							<!--/.col-->
						</div>
						<!--/.col-->
					</div>
					<!--/.row-->
				</div>
				<!--/.col-->
			</div>
			<!--/.row-->
		</div>
	  </div>
	  <!--/.card-->
    </div>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper" -->

  <script src="static/Admin/dist/js/jquery.slim.min.js"></script>
  <script src="static/Admin/dist/js/popper.min.js"></script>
  <script src="static/Admin/dist/js/bootstrap.bundle.min.js"></script>
  <script src="static/Admin/dist/js/custom.js"></script>
  <script src="static/Admin/dist/amcharts/core.js"></script>
  <script src="static/Admin/dist/amcharts/charts.js"></script>
  <script src="static/Admin/dist/amcharts/animated.js"></script>
  <script src="static/Admin/dist/js/graphs.js"></script>

</body>
</html>
