<!DOCTYPE html>
<html lang="en">
<head>
  <title>Face Recognition</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/Admin/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/Admin/dist/css/style.css">
  <script src="static/Admin/dist/js/jquery.slim.min.js"></script>
  <script src="static/Admin/dist/js/popper.min.js"></script>
  <script src="static/Admin/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  
<div class="container-fluid px-0 signup">
  <div class="row h-100 mx-0">
   <div class="col-12">
     <div class="card shadow w-25">
		<div class = "card-body">
			<div class = "col-12 mb-3 px-0">
				<h4 class = "title font-weight-bold mb-0">Sign Up</h4>
			</div>
			<!--/.col-->
			<form>	
				<div class = "row">
					<div class = "col-md-6 col-12 mb-3">
						<label>First Name</label>
						<input type = "text" class = "form-control" placeholder = "Enter First Name">
					</div>
					<div class = "col-md-6 col-12 mb-3">
						<label>Last Name</label>
						<input type = "text" class = "form-control" placeholder = "Enter Last Name">
					</div>
					<!--/.col-->
					<div class = "col-12 mb-3">
						<label>Email</label>
						<input type = "text" class = "form-control" placeholder = "Enter Email Address">
					</div>
					<!--/.col-->
					<div class = "col-12 mb-3">
						<label>Phone</label>
						<input type = "text" class = "form-control" placeholder = "Enter Phone">
					</div>
					<!--/.col-->
					<div class = "col-12 mb-3">										
						<label class="switch">
						  <input type="checkbox">
						  <span class="slider round"></span>
						</label>
						<small>I am Photographer</small>
					</div>
					<!--/.col-->
					<div class = "col-12 mb-3">
						<label>Password</label>
						<input type = "password" class = "form-control" placeholder = "Enter Password">
					</div>
					<!--/.col-->
					<div class = "col-12 mb-3">
						<label>Confirm Password</label>
						<input type = "password" class = "form-control" placeholder = "Re-enter Password">
					</div>
					<!--/.col-->
					
					<div class = "col-12 mb-3">
						<button class = "btn btn-primary btn-sm shadow w-100" type = "button">Sign Up</button>
					</div>
					<!--/.col-->
					<div class = "col-12 text-center">
						<small>If Already a Member?<a class = "font-weight-bold" href = "index.html"><u>Log In</u></a></small>
					</div>
					<!--/.col-->
				</div>
				<!--/.row-->	
			</form>	
		</div>
	 </div>
   </div>
</div>
  <!--/.col-->
</div>
<!--/.container-fluid-->
</body>
</html>
